.products {
  background-color: #222;
  flex: 1;
  color: #fff;
  height: 100vh;
  padding: 50px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(14, 109, 109);
}
